header.header {
    position: fixed;
    top: 0;
    width: calc(100% - 152px);
    padding: 15px 60px;
    background-color: #ffffff69;
    border-radius: 5px;
    margin: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header ul {
    margin: 0;
}

.header ul li {
    display: inline;
    margin: 0 10px;
}


.header ul li a {
    color: #ffffff;
}