*, html, body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #649EFF;
    --primary-color-hover: #97bdff;
    --secondary-color: #ACCBFF;
    --secondary-color-hover: #d2e2ff;
    --dark-color: #4188FF;
    --dark-color-hover: #5e99ff;
}

a {
    text-decoration: none;
}

button {
    border: none
}

button:hover {
    cursor: pointer
}

.primary-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fafafa;
    transition: all .2s linear;
}

.primary-button:hover {
    background-color: var(--primary-color-hover);
}

.primary-button.rounded {
    border-radius: 30px;
}

.secondary-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: var(--secondary-color);
    color: #fafafa;
    transition: all .2s linear;
}

.secondary-button:hover {
    background-color: var(--secondary-color-hover);
}

.secondary-button.rounded {
    border-radius: 30px;
}

.secondary-button.min-rounded {
    border-radius: 5px;
}

.shadow {
    box-shadow: 0px 5px  10px #00000025;
}

.shadow:hover {
    box-shadow: 0px 3px  12px #0000002d;
}

.no-display {
    display: none;
}

