.component-task {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
    margin: 10px 25px;
    text-align: center;
    position: relative;
}

.component-task p {
    word-wrap: break-word;
}

.component-task:hover > .remove-button {
    opacity: 100%;
    transition: all .1s linear;
}

.component-task .remove-button {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    border-radius: 0 5px 0 10px;
    background-color: #ffa2a2;
    color: #fafafa;
    transition: all .2s linear;
}

.component-task .remove-button:hover {
    background-color: #ff5959;
}