.page-home-todo {
    display: flex;
}

.page-home-todo section {
    flex: 1;
    backdrop-filter: blur(10px);
    background-color: #ffffff69;
    min-height: 400px;
    border-radius: 5px;
    margin: 10px;
    padding-bottom: 15px;
    min-width: 0;
}

.page-home-todo h2 {
    text-align: center;
    margin: 10px;
    color: #fafafa;
}

.page-home-todo .button-container {
    text-align: center;
}

.page-home-todo .button-container button {
    text-align: center;
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.page-home-todo .button-container .primary-button.rounded::after {
    content: '+';
    font-size: 30px;
    position: absolute;
    top: 3px;
    left: 16px;
}